# Игнорируем виртуальное окружение
venv/
env/
ENV/

# Игнорируем кэш Python
__pycache__/
*.py[cod]
*.so

# Игнорируем базу данных SQLite
*.sqlite3
*.sqlite3-journal

# Игнорируем логи
*.log

# Игнорируем локальные настройки
local_settings.py

# Игнорируем папки IDE
.idea/
.vscode/

# Игнорируем файлы окружения
.env