{% extends 'base.html' %}

{% block title %}{{ product.name }} - Skystore{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>

    {% if product.image %}
        <img src="{{ product.image.url }}" class="img-fluid mb-3" alt="{{ product.name }}">
    {% endif %}

    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Категория:</strong> {{ product.category.name }}</p>
    <p><strong>Цена:</strong> {{ product.price }} руб.</p>
    <p><strong>Дата создания:</strong> {{ product.created_at }}</p>
    <p><strong>Последнее изменение:</strong> {{ product.updated_at }}</p>

    <a href="{% url 'home' %}" class="btn btn-primary mt-3">← Вернуться на главную</a>
{% endblock %}
